$sma-black-primary: mat-palette($mat-grey, 700, 300, 900);
$sma-black-accent: mat-palette($mat-blue-grey, 400);
$sma-black-warn: mat-palette($mat-red, 500);

$sma-black-theme: mat-dark-theme(
  $sma-black-primary,
  $sma-black-accent,
  $sma-black-warn
);
